.modal_type_signin-modal .modal__container {
  box-sizing: border-box;
  padding: 34px 36px 28px 36px;
}

.signin-modal__title {
  color: #1a1b22;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 22px;
}
