.results {
  padding: 80px 0px;
  background-color: #f5f6f7;
  color: #1a1b22;
}

.results__content {
  max-width: 1440px;
  width: calc(100% - 208px);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results__header {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: "Roboto Slab";
  font-size: 40px;
  font-weight: 400;

  width: 100%; /* align the header left */
}

.results__more {
  width: 288px;
  height: 64px;
  padding: 0px;

  border: none;
  border-radius: 80px;

  background-color: #fff;

  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;

  transition: all 0.2s ease-in-out;
}

.results__more:hover {
  background-color: #e8e8e8;
}

.result__searching {
  color: #b6bcbf;
  font-size: 18px;
  font-family: "Roboto";
  margin: 0px;
  margin-top: 24px;
}

@media screen and (width <= 920px) {
  .results {
    padding: 40px 0px;
  }

  .results__content {
    width: calc(100% - 80px);
  }

  .results__header {
    font-size: 30px;
  }
}

@media screen and (width <= 480px) {
  .results__content {
    width: calc(100% - 32px);
  }
}
