.hamburger-menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity 0.15s linear, visibility 0.1s;
}

.hamburger-menu_visible {
  visibility: visible;
  opacity: 1;
}

.hamburger-menu__container {
  background-color: #1a1b22;
  padding-bottom: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.hamburger-menu__link {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 500;
  width: fit-content;
}

.hamburger-menu__link.logo {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  margin-left: 16px;
  margin-left: 32px;
}

.hamburger-menu__logo-section {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgba(232, 232, 232, 0.4);
}

.hamburger-menu__close {
  height: 24px;
  width: 24px;
  margin-right: 32px;
  background-color: none;
  border: none;
  background: center no-repeat url("../../assets/modal-close.svg");
}

.hamburger-menu__link.home {
  display: block;
  place-content: center;
  color: #b6bcbf;
  margin: 32px;
  padding-bottom: 5px;
}

.hamburger-menu__link.saved-articles {
  display: block;
  color: #b6bcbf;
  margin: 32px;
  padding-bottom: 5px;
}

.hamburger-menu__container > .nav__link_type_logout {
  margin-left: 32px;
}

.hamburger-menu__container > .nav__link_type_signin {
  position: static;
  display: block;
  height: 56px;

  width: 150px;
  margin-left: 32px;
}

@media screen and (width <= 576px) {
  .hamburger-menu__link.logo {
    font-size: 16px;
    margin-left: 16px;
  }

  .hamburger-menu__logo-section {
    height: 56px;
  }

  .hamburger-menu__close {
    height: 14px;
    width: 14px;
    margin-right: 16px;
  }
  .hamburger-menu__link.home,
  .hamburger-menu__link.saved-articles {
    font-size: 18px;
    margin-left: 16px;
  }
  .hamburger-menu__container > .nav__link_type_logout {
    font-size: 18px;
    margin-left: 16px;
  }

  .hamburger-menu__container > .nav__link_type_signin,
  .hamburger-menu__container > .nav__link_type_logout {
    width: calc(100% - 32px);
    margin: auto;
  }
}
