.nav__link_type_saved-articles.after::after {
  content: "";
  height: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: #000;
  position: absolute;
}

.nav__link.nav__link_type_saved-articles {
  text-align: center;
  width: 178px;
  margin-right: 32px;
  color: #b6bcbf;
  position: relative;
}

@media screen and (width <= 920px) {
  .nav__link.nav__link_type_home {
    width: 64px;
    text-align: center;
    margin-right: 16px;
  }

  .nav__link.nav__link_type_saved-articles {
    margin-right: 16px;
    width: 160px;
  }
}
