.hero {
  padding: 80px 40px;

  margin: auto;
  max-width: 608px;
  color: white;
}

.hero__heading {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 60px;
}

.hero__subheading {
  margin-top: 0px;
  margin-bottom: 88px;
  font-family: "Roboto";
  font-size: 18px;
}

@media screen and (width <= 920px) {
  .hero {
    max-width: 448px;
    padding: 38px 0px 48px 0px;
  }
  .hero__heading {
    font-size: 36px;
  }
  .hero__subheading {
    margin-bottom: 48px;
  }
}

@media screen and (width <= 768px) {
  .hero {
    width: 448px;
    max-width: calc(100% - 80px);
  }
}

@media screen and (width <= 480px) {
  .hero {
    max-width: calc(100% - 32px);
  }
}
