.nav__link.saved-news.nav__link_type_logout {
  color: black;
  border: 1px solid black;
}
.nav__link.saved-news.nav__link_type_logout {
  color: black;
  border: 1px solid black;
}

.nav__link.saved-news.nav__link_type_logout > .nav__logout-icon {
  background-image: url("../../assets/logout-dark.svg");
}

.nav__link.saved-news.nav__link_type_logo {
  color: black;
}
.nav__link.saved-news.nav__link_type_home {
  color: black;
}

.nav__link.saved-news.nav__link_type_saved-articles {
  color: black;
}

.saved-news-header {
  padding: 40px 104px 56px 104px;
  font-size: 18px;
  color: #1a1b22;
}

.saved-news-header__container {
  max-width: 1440px;
  margin: auto;
}

.saved-news-header__heading {
  margin: 0px;
  font-size: inherit;
  font-family: "Roboto";
  line-height: 24px;
  font-weight: 400;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news-header__description {
  font-family: "Roboto Slab";
  font-size: 40px;
  line-height: 46px;
  max-width: 530px;
  margin-top: 28px;
  margin-bottom: 30px;
}

.saved-news-header__keywords {
  font-family: "Roboto";
  line-height: 24px;
  margin: 0px;
}

.saved-news-header__keyword {
  font-family: "Roboto";
  font-weight: 700;
}

@media screen and (width <= 920px) {
  .saved-news-header {
    padding: 24px 40px 32px 40px;
  }
  .saved-news-header__heading {
    font-size: 14px;
  }
  .saved-news-header__description {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 34px;
    max-width: 336px;
  }
}

@media screen and (width <= 480px) {
  .saved-news-header {
    padding: 8px 16px 32px 16px;
  }
  .saved-news-header__heading {
    font-size: 12px;
  }
  .saved-news-header__description {
    margin-bottom: 50px;
  }
}
