.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(196, 196, 196, 0.3);
}

.nav__li {
  display: flex;
  align-items: center;
}

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px;
  padding: 0px 104px;
  width: 100%;
  max-width: 1440px;
}

.nav__link {
  display: inline-block;
  box-sizing: border-box;
  height: 80px;

  text-decoration: none;

  color: white;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
}

.bottom {
  border-bottom: 5px solid red;
}

.nav__link_type_logo {
  font-size: 20px;
  font-family: "Roboto Slab";
  place-content: center;
  font-weight: 700;
}

.nav__link_type_home {
  margin-right: 42px;
  padding-top: 30px;
  text-align: center;
  width: 64px;
  place-self: end;
}

.nav__link_type_signin {
  width: 176px;
  height: 48px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  transition: all 0.25s ease-in-out;
}

.nav__link_type_signin:hover {
  color: #1a1b22;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mobile {
  display: none;
}

.hamburger {
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  row-gap: 4px;
}

.hamburger__bar {
  background-color: #fff;
  width: 32px;
  height: 4px;
}

@media screen and (width <= 920px) {
  .nav__list {
    padding: 0px 40px;
  }
  .nav__link_type_home {
    margin-right: 16px;
  }
}

@media screen and (width < 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media screen and (width <= 480px) {
  .nav__list {
    padding: 0px 16px;
  }
  .hamburger__bar {
    width: 16px;
    height: 2px;
  }
}
