.search-form {
  display: flex;
  position: relative;
}

.search-form__input {
  border: none;

  height: 64px;
  box-sizing: border-box;

  border-radius: 100px;
  padding: 21px 24px;

  width: 100%;

  box-shadow: 2px 2px 15px rgba(26, 27, 34, 0.15);
  color: #1a1b22;

  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.search-form__input:focus {
  outline: none;
}

.search-form__input::placeholder {
  color: #b6bcbf;
}

.search-form__submit {
  width: 168px;
  height: 64px;

  position: absolute;
  right: 0;

  border: none;
  border-radius: 100px;
  background-color: #2f71e5;
  box-shadow: rgba(26, 27, 34, 0.25) -1px 4px 4px 0px;
  color: white;

  font-size: 18px;
  font-weight: 500;

  transition: background-color 0.2s ease-out;
}

.search-form__submit:hover {
  background-color: #347eff;
}

.search-form__submit:active {
  background-color: #2a65cc;
}

@media screen and (width <= 480px) {
  .search-form {
    flex-direction: column;
  }
  .search-form__input {
    height: 56px;
    margin-bottom: 16px;
  }

  .search-form__submit {
    width: 100%;
    height: 56px;
    position: static;
  }
}
