.preloader {
  position: relative;
  height: 74px;
  width: 74px;
}

.preloader__circle {
  display: block;
  width: 74px;
  height: 74px;
  background: center no-repeat url("../../assets/preloader.png");

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
