.footer__content.mobile {
  display: none;
  box-sizing: border-box;
}

.footer {
  place-content: center;
  font-family: "Roboto";
}

.footer__content {
  margin: auto;
  padding: 0px 104px;
  padding-bottom: 26px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copywright {
  margin: 0px;
  font-size: 16px;
  color: #b6bcbf;
}

.footer__links {
  display: flex;
  align-items: center;
}

.footer__link {
  margin-left: 40px;
  text-decoration: none;
  font-size: 18px;
  color: #1a1b22;
}

.footer__link_github {
  display: inline-block;
  background-image: url("../../assets/github.svg");
  height: 24px;
  width: 24px;
}

.footer__link_facebook {
  display: inline-block;
  margin-left: 24px;
  background-image: url("../../assets/facebook.svg");
  height: 24px;
  width: 24px;
}

@media screen and (width <= 920px) {
  .footer__content {
    padding: 0px 40px;
    padding-bottom: 26px;
  }
}

@media screen and (width <= 768px) {
  .footer__content.desktop {
    display: none;
  }

  .footer__content.mobile {
    display: block;
  }

  .footer__row-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .footer__links {
    align-items: start;
  }

  .footer__link_home,
  .footer__link_triple {
    margin-left: 0;
  }

  .footer__link_home {
    margin-bottom: 32px;
  }

  .footer__links.pages {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footer__content {
    padding: 0px 40px;
    padding-bottom: 22px;
  }
}

@media screen and (width <= 480px) {
  .footer__content {
    padding: 0px 16px;
    padding-bottom: 22px;
  }
}
