.footer {
  height: 80px;
  place-content: center;
  font-family: "Roboto";
}

.footer__content {
  margin: auto;
  padding: 0px 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copywright {
  margin: 0px;
  font-size: 16px;
  color: #b6bcbf;
}

.footer__links {
  display: flex;
  align-items: center;
}

.footer__link {
  margin-left: 40px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.footer__link_github {
  display: inline-block;
  background-image: url("../../assets/github.svg");
  height: 24px;
  width: 24px;
}

.footer__link_facebook {
  display: inline-block;
  margin-left: 24px;
  background-image: url("../../assets/facebook.svg");
  height: 24px;
  width: 24px;
}

@media screen and (width <= 920px) {
  .footer__content {
    padding: 0px 40px;
  }
}
