.cards {
  list-style-type: none;

  padding: 64px 0px;
  margin: 0px;
  width: 100%;

  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, minmax(224px, 1fr));
}

@media screen and (width <= 920px) {
  .cards {
    gap: 8px;
    padding-top: 32px;
  }
}

@media screen and (width < 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    gap: 10px;
  }
}

@media screen and (width <= 480px) {
  .cards {
    padding-top: 58px;
    padding-bottom: 16px;
  }
}
