.nothing-found {
  text-align: center;
  max-width: 300px;
}

.nothing-found__magnifier {
  width: 82.5px;
  height: 82.5px;
  margin-bottom: 31.5px;
}

.nothing-found__heading {
  margin-top: 0px;
  margin-bottom: 16px;

  font-family: "Roboto Slab";
  font-size: 26px;
  color: #1a1b22;
}

.nothing-found__subheading {
  margin: 0px;

  font-family: "Roboto";
  font-size: 18px;
  color: #b6bcbf;
}
