.card {
  position: relative;
}

.card__text-content {
  padding: 20px 24px 24px 24px;
  border-radius: 0px 0px 16px 16px;
  height: 304px;
  color: #1a1b22;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__text-content-top {
  margin-bottom: 16px;
}

.card__img {
  display: block;
  border-radius: 16px 16px 0px 0px;
  width: 100%;
}

.card-text {
  margin: 0px;
}

.card__date {
  margin-bottom: 12px;
  font-family: "Source Sans Pro";
  font-size: 18px;
  color: #b6bcbf;
}

.card__title {
  font-family: "Roboto Slab";

  font-weight: 400;
  font-size: 26px;
  line-height: 30px;

  /* mulitple line ellipse */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__description {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  /* mulitple line ellipse */
  height: 5lh;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__source {
  margin-top: 18px;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #b6bcbf;
  font-weight: 700;

  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (width <= 920px) {
  .card__text-content {
    height: 270px;
    padding: 16px;
  }

  .card__title {
    font-size: 22px;
    line-height: 24px;
  }

  .card__description {
    height: 4lh;
    -webkit-line-clamp: 4;
  }
}

@media screen and (width <= 480px) {
  .card__text-content {
    height: 244px;
    -webkit-line-clamp: 2;
  }
}
